

/* SignupForm.css */

.signup-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styling for the form container */
.signup-form {
  margin-top: 20px;
  max-width: 500px; /* Set maximum width for the form */
  margin: auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for form labels */
.signup-form label {
  font-weight: bold;
}

/* Styling for form inputs */
.signup-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ced4da; /* Bootstrap default input border color */
}

/* Styling for the submit button */
.signup-form button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap primary button color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
}

/* Hover effect for the submit button */
.signup-form button:hover {
  background-color: #0056b3; /* Darker shade of primary color on hover */
}
